<% provide(:title, "Login") %>
<h1>Login</h1>
<div class="span6 offset3">
    <%= form_for(:session, :url => sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Login", :class => "btn btn-large btn-primary" %>
    <% end %>

<p>New user? <%= link_to "Join now!", join_path %></p>

</div>