<% if logged_in? %>

	<% provide(:title, @user.name) %>

		      

				<div id="profilepic"><%= gravatar_for @user %></div>
		       <div id="profilename"><h1> <%= @user.name %></h1></div>
		    <br/>
		
		<%= link_to "Wall" %>
	<%= link_to "Web", users_path %>
		<a href="/profile/info">Info</a>
		<%= link_to "Photos" %>
		<%= link_to "Edit", edit_user_path(current_user) %>
	</div>

<% else %>
<% end %>