
<% provide(:title, @user.name) %>
	  
		<div id="navigation">
			<div id="subnavigation">
		<div id="community"><h1><%= @city %>, <%= @state %></h1></div>
		<div id="bottombuttons">
		<a href="/"><input type="image" src="/stream.png" width="135" height="41"></a>
		<a href="/posts"><input type="image" src="posts.png" width="135" height="41"></a>
		<a href="/meetups"><input type="image" src="/meetups.png" width="135" height="41"></a>
		<a href="/chat"><input type="image" src="/chat.png" width="135" height="41"></a>
		<a href="/groups"><input type="image" src="/groups.png" width="135" height="41"></a>
		</div>
			</div>




						<div id="profilepic"><%= gravatar_for @user %></div>
				       <div id="profilename"><h1> <%= @user.name %></h1></div>
				    <br/>

				<%= link_to "Wall" %>
				<%= link_to "Web", users_path %>
				<a href="/profile/info">Info</a>
				<%= link_to "Photos" %>

			</div>
			
			<% if @user.microposts.any? %>
			      <h3>Microposts (<%= @user.microposts.count %>)</h3>
			      <ol class="microposts">
			        <%= render @microposts %>
			      </ol>
			      <%= will_paginate @microposts %>
			    <% end %>