
<% provide(:title, @user.name) %>
	  
						<div id="profilepic"><%= gravatar_for @user %></div>
				       <div id="profilename"><h1> <%= @user.name %></h1></div>
				    <br/>

				<%= link_to "Wall" %>
				<%= link_to "Web", users_path %>
				<a href="/profile/info">Info</a>
				<%= link_to "Photos" %>

			</div>
			
			<% if @user.microposts.any? %>
			      <h3>Microposts (<%= @user.microposts.count %>)</h3>
			      <ol class="microposts">
			        <%= render @microposts %>
			      </ol>
			      <%= will_paginate @microposts %>
			    <% end %>