	
	
<% if logged_in? %>

<head>
<style media="screen" type="text/css">

.heading {
background-color: #2374ee; 
padding-top:12px;
padding-bottom:30px;
}

.inheading {
width:950px; 
margin:auto;
}

</style>
</head>

<div class="heading">
<div class="inheading"><div class="meetumehead"><%= link_to "AmongU", root_path %></div>
  <div class="messages"><a href="/messages"><input type="image" src="/meetumemail.png" width="35" height="35"></a></div>
  <div class="activity"><a href="/activity"><input type="image" src="/worldmeetume.png" width="35" height="35"></a></div>
  <div class="searchbox"><input type="text"></div>
  <div class="profile"><a href="/profile"><input type="image" src="/meetumeprofile.png" width="35" height="35"></a><a href="/profile"><%= current_user.name %></a></div>
  <div class="logoutbutton"><%= link_to "Logout", logout_path, method: "delete" %></div>
  
  </div>
  </div>



<div id="navigation">
	<div id="subnavigation">
<div id="community"><h1><%= render "layouts/location" %></h1></div>
<div id="bottombuttons">
<a href="/"><input type="image" src="/streammeetume.png" width="50" height="50">Stream</a>
<a href="/posts"><input type="image" src="postsmeetume.png" width="50" height="50">Posts</a>
<a href="/meetups"><input type="image" src="/eventsmeetume.png" width="50" height="50">Events</a>
<a href="/chat"><input type="image" src="/chatmeetume.png" width="50" height="50">Chat</a>
<a href="/groups"><input type="image" src="/groupsmeetume.png" width="50" height="50">Groups</a>
</div>
	</div>

<% else %>	
	<div id="heading">
		
		<div id="inheading">
			
	<div id="meetume"><%= link_to "AmongU", root_path %></div>
	
	<div id="city"><%= render "layouts/location" %></div>
	
	<div id="login">
	  <%= form_for(:session, :url => sessions_path) do |f| %>

	      <div id="emailcss"><%= f.label :email %></div>
	      <div id="emailboxcss"><%= f.text_field :email %></div>

	     <div id="passwordcss"> <%= f.label :password %></div>
	      <div id="passboxcss"><%= f.password_field :password %></div>
	
	      <div id="loginbutton"><%= f.submit "Login", :class => "btn btn-large btn-primary", :type => "image", :src => "/blank.png", :width =>"125", :height => "48"%></div>
	    <% end %>
	</div>
	
	
	
	</div>
	
</div>

AmongU connects YOU to EVERYONE AMONG U!

<%= form_for(:user, :url => users_path) do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :password_confirmation, "Confirmation" %>
<%= f.password_field :password_confirmation %>

<%= f.submit "Create my account", :class => "btn btn-large btn-primary" %>

<% end %>

<% end %>

	