<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title))%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<meta name="google-site-verification" content="mMWS_zK3HPu2Rw29v8dGUsfCZY7sF75pxRMfT3Gz6lo" />
</head>
<body>

<%= render 'layouts/head' %>
<% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
<%= yield %>
<%= debug(params) if Rails.env.development? %>

</body>
</html>
